* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1e1e26;
  color: #e0e0e0;
}

.box {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #e0e0e0;
  background-color: #2e2d34;
}

.mainInfoBox {
  padding: 20px;
  margin-bottom: 3.5rem;
  transition: all 0.5s;
  display: flex;
}
.mainInfoBox .myPhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.mainInfoBox .myPhoto:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 30px 7px rgba(119, 119, 119, 0.53);
}
@media (max-width: 500px) {
  .mainInfoBox {
    width: 80%;
    flex-direction: column;
  }
  .mainInfoBox .myPhoto {
    width: 100px;
    height: 100px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

ul {
  list-style: none;
}

.colorGrey {
  color: rgb(166, 166, 166);
}

.contactA {
  display: inline-block;
  text-decoration: none;
  color: #e0e0e0;
  transition: all 0.5s;
  position: relative;
}
.contactA:hover {
  transform: scale(1.3);
  color: rgb(255, 105, 180);
}
.contactA:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: rgb(255, 105, 180);
  transition: width 0.5s;
  width: 0;
  display: block;
  height: 1.5px;
}
.contactA:hover:after {
  width: 100%;
}

.contact {
  margin-top: 3vh;
}

main {
  display: flex;
  flex-direction: column;
}
main .box {
  border-radius: 20px;
}

.nav {
  padding: 20px;
  transition: all 0.5s;
}

.buttonOpen {
  background: transparent;
  color: #e0e0e0;
  font-size: large;
  border: 0;
  position: relative;
  transition: all 0.5s;
}
.buttonOpen:hover {
  transform: scale(1.1);
  color: rgb(255, 105, 180);
}
.buttonOpen:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: rgb(255, 105, 180);
  transition: width 0.5s;
  width: 0;
  display: block;
}
.buttonOpen:hover:after {
  width: 100%;
}

.mainInfoBox:hover, .nav:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 30px 7px rgba(119, 119, 119, 0.53);
}