@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-box {
  font-family: "Inter";
}
.text-box .name {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 48px 48px 64px 48px;
  background-color: black;
}

.grey {
  color: var(--gray, #c2c2c2);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  letter-spacing: 0.24px;
}

.container {
  border-radius: 24px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1f2025 100%));
  text-align: center;
  align-items: center;
  margin: 48px;
}

p,
h1,
h3,
h2,
h4,
h5,
h6,
span,
a {
  color: white;
  font-family: "Inter";
}

a {
  color: white;
  text-decoration: none;
}

.photo {
  height: 185px;
  width: 185px;
  -o-object-fit: cover;
     object-fit: cover; /*для img*/
}

.base-info {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 24px;
}

.info {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.base-info {
  text-align: start;
}

.photo {
  margin-right: 40px;
}

.work-exp-heading,
.skills-heading {
  font-family: "Inter";
  margin: 0px 0px 0 80px;
}

.job-box-text {
  font-family: "Inter";
  text-align: start;
}

.work-exp {
  padding: 24px;
}

.time-period-job {
  opacity: 0.64;
}

.description-job {
  opacity: 0.84;
}

.two-rows-box-skills {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.two-rows-box-skills p {
  margin: 0;
  padding: 0;
}

.skills {
  padding: 24px;
}

.container {
  padding: 24px;
}

.projects {
  text-align: start;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  body {
    width: 90% !important;
    overflow-x: hidden;
    overflow-wrap: hidden;
  }
  .container {
    width: 95%;
  }
}
html {
  text-align: center;
  align-items: center;
  padding: 0;
}

body {
  padding: 0;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }
  .base-info {
    justify-content: space-around;
    flex-direction: column;
  }
  .base-info img {
    width: auto;
    height: 80px;
  }
  p,
  span {
    font-size: 10px;
  }
  h1 {
    font-size: 15px;
  }
}
.badPr {
  border-radius: 30px;
  background-color: rgba(224, 39, 39, 0.603);
  padding: 7px;
}

.OnlyStart {
  border-radius: 30px;
  background-color: rgba(78, 205, 255, 0.603);
  padding: 6px;
}

.medium {
  border-radius: 30px;
  background-color: rgba(71, 255, 237, 0.463);
  padding: 5px;
}

a {
  margin: 8px;
}

.pgd {
  border-radius: 30px;
  background-color: rgba(122, 255, 166, 0.694);
  padding: 5px;
  color: black;
}

.pg {
  border-radius: 30px;
  background-color: rgba(142, 255, 180, 0.974);
  padding: 5px;
  color: black;
}

@media (max-width: 500px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container {
    padding: 10px;
    margin-left: 13%;
    margin-right: 0;
  }
  .container h1 {
    font-size: 13px;
  }
  .container p,
  .container span,
  .container a,
  .container li,
  .container span {
    font-size: 8px;
  }
  .container .pg,
  .container .badPr,
  .container .pgd {
    padding: 2px;
  }
}
.blueBold {
  color: rgb(41, 121, 190);
}

.list-element,
.list {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  list-style: none;
}

.grey {
  color: rgb(166, 166, 166);
}

.roundedBorder {
  border-radius: 10px;
  background-color: rgb(86, 86, 86);
  padding: 4px;
}

* {
  font-family: "Inter";
}

.iDid {
  text-align: left;
  margin-left: 35%;
}

.endeeee {
  text-align: right;
  margin-right: -24%;
}

.list {
  margin-left: 40%;
  text-align: start;
}

.Time-NiceView {
  position: absolute;
  right: 10%;
}
@media (max-width: 500px) {
  .Time-NiceView {
    right: 15%;
  }
}

.exp-ece {
  position: relative;
  display: inline-block;
}

@media (max-width: 700px) {
  .work-exp .list {
    margin-left: 45%;
  }
}
@media (max-width: 315px) {
  .work-exp .list {
    margin-left: 35%;
  }
}

@media (max-width: 850px) {
  .container {
    width: 90%;
  }
}
.OnlyStartB {
  border-radius: 30px;
  background-color: rgba(255, 120, 120, 0.603);
  padding: 6px;
}