// vars
$shadow-color: rgba(119, 119, 119, 0.53);
$shadow-color-forBG: rgba(119, 119, 119, 0.35);
$shadow-size: 0px 5px 30px 7px;
$box-color: #2e2d34;
$text-color: #e0e0e0;
$body-bg: #1e1e26;
$grey: rgb(166, 166, 166);
$hover-color: rgb(246, 178, 141);
$border-radius: 20px;

// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $body-bg;
  color: $text-color;
}

.box {
  margin: 0 auto;
  width: fit-content;

  color: $text-color;
  background-color: $box-color;
}
.mainInfoBox {
  // border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 3.5rem;
  transition: all 0.5s;
  display: flex;
  // width: 70vh;
  .myPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      -webkit-box-shadow: $shadow-size $shadow-color;
      -moz-box-shadow: $shadow-size $shadow-color;
      box-shadow: $shadow-size $shadow-color;
    }
  }

  @media (max-width: 500px) {
    width: 80%;
    .myPhoto {
      width: 100px;
      height: 100px;
    }
    flex-direction: column;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
ul {
  list-style: none;
}
.colorGrey {
  color: $grey;
}
.contactA {
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  transition: all 0.5s;
  position: relative;
  &:hover {
    transform: scale(1.3);
    color: $hover-color;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: $hover-color;
    transition: width 0.5s;
    width: 0;
    display: block;
    height: 1.5px;
  }
  &:hover:after {
    width: 100%;
  }
}
.contact {
  margin-top: 3vh;
}
main {
  display: flex;
  flex-direction: column;
  .box {
    border-radius: $border-radius;
  }
}

.nav {
  padding: 20px;
  transition: all 0.5s;
}
.buttonOpen {
  background: transparent;
  color: $text-color;
  font-size: large;
  border: 0;
  position: relative;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
    color: $hover-color;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: $hover-color;
    transition: width 0.5s;
    width: 0;
    display: block;
  }
  &:hover:after {
    width: 100%;
  }
}
.mainInfoBox,
.nav {
  &:hover {
    transform: scale(1.1);
    -webkit-box-shadow: $shadow-size $shadow-color;
    -moz-box-shadow: $shadow-size $shadow-color;
    box-shadow: $shadow-size $shadow-color;
  }
}

.fade-out {
  animation: fadeOutLeft 0.5s forwards;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.newBox {
  animation: slideInRight 0.5s forwards;
  margin-top: 20px;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatX(30px);
    filter: blur(10px);
  }
  60% {
    opacity: 1;
    transform: translateX(-10px);
    filter: blur(0);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.jsBox {
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s;
  display: block;

  &:hover {
    transform: scale(1.4);
    -webkit-box-shadow: $shadow-size $shadow-color;
    -moz-box-shadow: $shadow-size $shadow-color;
    box-shadow: $shadow-size $shadow-color;
  }
}

.englishLevel{
  background: rgb(255, 255, 180);
  color: #1e1e26;
  padding: 1.5px;
  border-radius: 5px;
}
.learningBadge{
    background: rgb(180, 198, 255);
      color: #1e1e26;
      padding: 1.5px;
      border-radius: 5px;
}

.backBtnBtn {
  background: transparent;
  color: $text-color;
  border: 0;
  font-size: 30px;
  transition: all 0.5s;

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: $hover-color;
    transition: width 0.5s, left 0.5s;
    width: 0;
  }
  
  &:hover {
    transform: scale(1.2);
    color: $hover-color;
    
    &:after {
      width: 100%;
      left: 0;
    }
  }
}
.backBtn{
  transition: all 0.5s;
  border-radius: 20px;
  display: block;
  width: fit-content;
  position: fixed;
  left: 10%;
  top: 10%;
  &:hover {
    -webkit-box-shadow: $shadow-size $shadow-color;
    -moz-box-shadow: $shadow-size $shadow-color;
    box-shadow: $shadow-size $shadow-color;
    background: $shadow-color-forBG;
  }
}

.fade-out-right {
  animation: fadeOutRight 0.5s forwards;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.5s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-left {
  animation: fadeOutLeft 0.5s forwards;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.fade-in-right {
  animation: fadeInRight 0.5s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// todo fix animation for skills!